@import url('https://fonts.cdnfonts.com/css/red-rose');

body {
  margin: 0;
  font-family: 'Red Rose', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
