@media screen and (min-width: 768px) {
    .navbar {
        width: 86%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 43px 7%;
    }    
    .navbarButtons {
        width: 68.61%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }  
    .navbarButtonsLarge {
        width: 57.93%;
    }
    .navbarButtonsLarge ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .navbarButtonsLarge li {
        list-style-type: none;
        cursor: default;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #434343;
    }
    .navbarButtonsLarge a {
        text-decoration: none;
        color: #434343;
        cursor: pointer;
    }    
    .navbarButtonsSmall {
        display: none;        
    }
    .navbarButtonsSmall span {
        font-size: xx-large;
        cursor: pointer;
    }
    .navbarButtonsSmall ul {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }    
    .navbarButtonsSmall:hover ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }    
    .navbarButtonsSmall li {
        list-style-type: none;
        cursor: default;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #434343;
    }    
    .navbarButtonsSmall a {
        text-decoration: none;
        color: #434343;
        cursor: pointer;
    }    
    .navbarButtons input {
        width: 20.14%;
        height: 48px;
        min-width: 130px;
        background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
        border-radius: 10px;
        font-weight: 400;
        font-size: 85%;
        line-height: 48px;
        color: #FFFFFF;
        border: 0;
        padding: 0;
        cursor: pointer;
    }        
}    

@media screen and (max-width: 768px) {
    .navbar {
        width: 86%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 43px 7%;
    }
    .navbar > a {
        width: 50%;
    }
    .navbar > a img {
        width: 100%;
        vertical-align: middle;
    }
    .navbarButtons {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-self: flex-end;
        align-items: center;
    }
    .navbarButtonsLarge {
        width: 57.93%;
        display: none;
    }    
    .navbarButtonsLarge ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
    }    
    .navbarButtonsLarge li {
        list-style-type: none;
        cursor: default;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #434343;
    }    
    .navbarButtonsLarge a {
        text-decoration: none;
        color: #434343;
        cursor: pointer;
    }
    .navbarButtonsSmall {
        display: inline-block;        
    }
    .navbarButtonsSmall span {
        font-size: x-large;
        cursor: pointer;
    }
    .navbarButtonsSmall ul {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }    
    .navbarButtonsSmall:hover ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }    
    .navbarButtonsSmall li {
        list-style-type: none;
        cursor: default;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #434343;
    }    
    .navbarButtonsSmall a {
        text-decoration: none;
        color: #434343;
        cursor: pointer;
    }
    .navbarButtons input {
        width: 50%;
        min-width: 120px;
        height: 40px;
        background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
        border-radius: 10px;
        font-weight: 400;
        font-size: 85%;
        line-height: 40px;
        color: #FFFFFF;
        border: 0;
        padding: 0;
        cursor: pointer;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        width: 86%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 43px 7%;
    }
    .navbar > a {
        width: 40%;
    }
    .navbar > a img {
        width: 100%;
        vertical-align: middle;
    }
    .navbarButtons {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-self: flex-end;
        align-items: center;
    }
    .navbarButtonsLarge {
        width: 57.93%;
        display: none;
    }    
    .navbarButtonsLarge ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
    }    
    .navbarButtonsLarge li {
        list-style-type: none;
        cursor: default;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #434343;
    }    
    .navbarButtonsLarge a {
        text-decoration: none;
        color: #434343;
        cursor: pointer;
    }
    .navbarButtonsSmall {
        display: inline-block;        
    }
    .navbarButtonsSmall span {
        font-size: large;
        cursor: pointer;
    }
    .navbarButtonsSmall ul {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }    
    .navbarButtonsSmall:hover ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }    
    .navbarButtonsSmall li {
        list-style-type: none;
        cursor: default;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #434343;
    }    
    .navbarButtonsSmall a {
        text-decoration: none;
        color: #434343;
        cursor: pointer;
    }
    .navbarButtons input {
        width: 50%;
        min-width: 100px;
        height: 30px;
        background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
        border-radius: 10px;
        font-weight: 400;
        font-size: 75%;
        line-height: 30px;
        color: #FFFFFF;
        border: 0;
        padding: 0;
        cursor: pointer;
    }
}
