@media only screen and (min-width: 768px) {
    .sectionThree {
        width: 86%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 58px 7% 53px 7%;
    }
    .sectionThree h1 {
        margin: 0;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        color: #000000;
    }
    .sectionThreeNFTs {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 24px;
        align-items: center;
        margin-top: 43px;
    }
}

@media only screen and (max-width: 768px) {
    .sectionThree {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 45px 5% 40px 5%;
    }
    .sectionThree h1 {
        margin: 0;
        font-weight: 700;
        font-size: 38px;
        line-height: 50px;
        color: #000000;
        text-align: center;
    }
    .sectionThreeNFTs {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 8px;
        align-items: center;
        margin-top: 35px;
    }
    .sectionThreeNFTs .nft {
        width: 48%;
    } 
}

@media only screen and (max-width: 480px) {
    .sectionThree {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 45px 5% 40px 5%;
    }
    .sectionThree h1 {
        margin: 0;
        font-weight: 700;
        font-size: 38px;
        line-height: 50px;
        color: #000000;
    }
    .sectionThreeNFTs {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 8px;
        align-items: center;
        margin-top: 35px;
    }
    .sectionThreeNFTs .nft {
        width: 80%;
    } 
}

