@media only screen and (min-width: 768px) {
    .sectionTwo {
        width: 83.7%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 8.2%;
        background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    }
}

@media only screen and (max-width: 768px) {
    .sectionTwo {
        width: 83.7%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 8.2%;
        background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    }
    .sectionTwo img {
        width: 25%;
    }
}

@media only screen and (max-width: 480px) {
    .sectionTwo {
        width: 83.7%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 8.2%;
        background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    }
    .sectionTwo img {
        width: 25%;
    }
}
